<div ng-include="'tpl/include/header.html'"></div>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="#/start">首页</a></li>
    <li class="active"><a href="#">详情</a></li>
  </ol>
  <div class="panel panel-danger">
    <div class="panel-body">
      <div class="page-header">
        <h2>[桂香紫薯山药卷]</h2>
        <img src="img/p2679-l.jpg" class="img-responsive center-block"/>
        <div class="text-justify">
          <p>
            <b>主要原料：</b>切片吐司、紫薯、铁根山药、糖桂花、炼乳
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi corporis dolor ducimus eaque
            excepturi
            ipsa, iste laborum, maiores nihil nostrum optio perferendis provident quas, repellendus reprehenderit ullam
            veniam
            veritatis!
          </p>
          <p>￥16.50</p>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class=" text-right">
       <button class="btn btn-success" ng-click="jump('/order')">我要订餐</button>
       <button class="btn btn-warning" ng-click="jump('/main')">我在看看</button>
      </div>
    </div>
  </div>
</div>
<div ng-include="'tpl/include/footer.html'"></div>